@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Unica+One&display=swap');

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";



html {
    @apply bg-black font-ubuntu;
    
    /* scrollbar */
    /* Firefox */
    overflow: scroll;
    scrollbar-color: white black;
    scrollbar-width: thin;
}

    /* chrome */
    /* width */
::-webkit-scrollbar {
    width: 5px;
}
  
  /* Track */
::-webkit-scrollbar-track {
    background: #000000; 
}
   
  /* Handle */
::-webkit-scrollbar-thumb {
    background: #FFF; 
}
  
  /* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #888; 
}

p {
    @apply text-primary
}

h1 {
    @apply text-primary
}

.section {
    @apply sm:px-20 px-10 py-10 w-full;
}

.accent-gradient {
    @apply bg-gradient-to-r from-fuchsia-500 to-cyan-500;
}

.section-content {
    @apply flex flex-col items-center justify-center;
}

.btn {
    @apply px-3 py-1 no-underline bg-primary text-black  hover:bg-black hover:text-white hover:cursor-pointer transition duration-200;
}

.content-btn {
    @apply border-primary hover:border-black border-2;
}

.light-section-bg {
    /* @apply bg-zinc-900; */
    @apply bg-black;
}

.dark-section-bg {
    @apply bg-black;
}

.border-card {
    @apply border-r-[1px] border-b-[1px] border-primary hover:scale-105 hover:-translate-y-1 transition duration-200 ;
}

.grid-gap {
    @apply gap-10;
}

.indent-border-left {
    @apply border-l-[4px] border-primary pl-4;
}

.menu-border-right {
    @apply border-r-[4px] border-black pr-4;
}


.blinking-cursor {
    @apply border-b-2 border-white -ml-2 -mt-2;
    animation: blink 1.5s steps(1) infinite;
}

@keyframes blink {
    50% {opacity: 0;}
}

div[id^="tippy-"] {
    @apply bg-primary px-2 rounded-full;
}
